.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
build/
Thumbs.db

src/pug/mixins.pug
src/js/entry.js
src/sass/style.scss
src/blocks/sprite-svg/img/sprite.svg
src/blocks/sprite-png/sprite-png.scss
src/blocks/sprite-png/img/sprite-*.png
